* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Inter";
}

:root {
    --bg-color: linear-gradient(0deg, #F6F6F6 0%, #FFFFFF 100%);
    --second-bg-color: rgba(255, 255, 255, 1);
    --text-color: #1B1B1B;
    --second-text-color: #949494;
    --primary-blue: #376898;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 35px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(4px);
    padding: 24px 80px;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.header .logo-name {
    color: #1B1B1B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
}

.header .navbar-menu {
    display: none;
}

.header .navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 56px;
}

.header .navbar a {
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.header .navbar a.active {
    color: var(--primary-blue);
}

.home {
    display: flex;
    padding: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('assets/hero-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home .status-bubble {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid #DEE1E6;
    background: white;
    box-shadow: 0px 1px 1px 0px #EFF0F5;
}

.status-bubble svg {
    width: 8px;
    height: 8px;
}

.status-bubble p {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
}

.home img {
    width: 117px;
    height: 117px;
    box-shadow: 4px 4px 24px 0px rgba(178, 178, 178, 0.15);
    border: 5px solid white;
    border-radius: 50%;
    margin: 16px 0px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.home img:hover {
    box-shadow: 4px 4px 24px 0px rgba(32, 32, 32, 0.15);
}

.home h3 {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.home h3 span {
    color: var(--gradient, #376898);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.home h1 {
    color: var(--text-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
    margin: 16px 0px;
}

.home h1 span {
    background: var(--text, linear-gradient(90deg, #376898 19.1%, #84A8CC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.4px;
}

.home .personal-desc {
    max-width: 701px;
    height: auto;
    color: var(--second-text-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.8px;
}

.home .social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 32px 0px 24px 0px;
}

.home .social-icons a {
    font-size: 30px;
    color: var(--primary-blue);
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover.instagram {
    background: radial-gradient(61.46% 59.09% at 36.25% 96.55%, #FFD600 0%, #FF6930 48.44%, #FE3B36 73.44%, rgba(254, 59, 54, 0.00) 100%), radial-gradient(202.83% 136.37% at 84.5% 113.5%, #FF1B90 24.39%, #F80261 43.67%, #ED00C0 68.85%, #C500E9 77.68%, #7017FF 89.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.social-icons a.linkedin:hover {
    color: rgba(22, 65, 106, 1);
}

.social-icons a.github:hover {
    color: rgba(27, 27, 27, 1);
}

.social-icons a.cv:hover {
    color: rgba(202, 0, 0, 1);
}

.home .contact-button {
    display: flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    border: 2px solid var(--stroke, rgba(255, 255, 255, 0.14));
    background: var(--gradient, linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #376898);
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.home .contact-button:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 100%), #376898;
}

.heading {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 80px 156px;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}

.project .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.project .project-box {
    width: 1128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.project-box img {
    width: 552px;
    height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: white;
}

.project-box .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.project-box .project-info h3 {
    color: var(--text-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
}

.project-box .project-info .position {
    display: flex;
    align-items: center;
    gap: 8px;
}

.project-info .position p {
    color: var(--primary-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.project-info .position svg {
    width: 4px;
    height: 4px;
}

.project-box .project-info .project-desc {
    color: var(--second-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.8px;
}

.about-me {
    display: flex;
    padding: 100px 156px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}

.about-me .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
}

.about-me .container .content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.about-me .container img {
    width: 456px;
    height: 456px;
    box-shadow: 4px 4px 24px 0px rgba(178, 178, 178, 0.15);
    border-radius: 50%;
    border: 10px solid white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.about-me .container img:hover {
    box-shadow: 4px 4px 24px 0px rgba(32, 32, 32, 0.15);
}

.about-me .container .content .title {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
    margin-bottom: 16px;
}

.about-me .container .content .title span {
    color: var(--gradient, #376898);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.about-me .container .content .personal-desc {
    color: #383838;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.8px;
    margin-bottom: 32px;
}

.about-me .container .content .accomplishment {
    display: flex;
    width: 617px;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: white;
}

.about-me .accomplishment .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.about-me .accomplishment .box h3 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
    background: var(--text, linear-gradient(90deg, #376898 19.1%, #84A8CC 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me .accomplishment .box p {
    color: var(--second-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.about-me .accomplishment .line {
    width: 1px;
    height: 72px;
    background: #EAEAEA;
}

.experience {
    display: flex;
    padding: 100px 156px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.experience .exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.experience .exp-container .exp-box {
    width: 1128px;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    border: 5px solid #FFF;
    background: var(--card-2, linear-gradient(180deg, #F6F6F6 0%, #FFF 100%));
    box-shadow: 4px 4px 24px 0px rgba(178, 178, 178, 0.15);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.experience .exp-container .exp-box:hover {
    background: linear-gradient(180deg, #FFF 0%, #F6F6F6 100%);
    box-shadow: 4px 4px 24px 0px rgba(178, 178, 178, 0.15);
}

.exp-box .placement {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 32px;
}

.exp-box .job {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.exp-box .job-desc {
    display: none;
    transition: opacity 0.3s ease;
}

.exp-box:hover .job-desc {
    display: flex;
    opacity: 1;
    margin-top: 16px;
    color: #949494;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.8px;
}

.exp-box .placement img {
    max-width: 123px;
    height: 21px;
}

.exp-box .placement p {
    color: var(--second-text-color);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.exp-box .job h3 {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
}

.exp-box .job p {
    color: var(--primary-blue);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.contact {
    display: flex;
    position: relative;
    padding: 80px 120px 56px 120px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: white;
}

.contact .container {
    gap: 296px;
    display: flex;
    flex-direction: row;
    padding: 56px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--stroke, rgba(255, 255, 255, 0.14));
    background: var(--gradient-banner, linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.12) 100%), #376898);
    transition: background 0.3s ease, transform 0.3s ease;
}

.contact .container:hover {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), linear-gradient(90deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #376898;
}

.contact .container .content {
    width: 555px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contact .container .content h3 {
    color: white;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1px;
}

.contact .container .content p {
    color: #DCDCDC;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.5px;
}

.contact .container button {
    display: flex;
    width: 237px;
    height: 51px;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 32px;
    border: 1px solid #DEE1E6;
    background: white;
    box-shadow: 0px 2px 8px 0px rgba(168, 168, 168, 0.15);
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.8px;
}

.contact .container img {
    width: 313px;
    height: 313px;
    position: absolute;
    bottom: 60px;
    right: 110px;
    transition: width 0.3s ease, height 0.3s ease, bottom 0.3s ease;
}

.contact .container:hover img {
    width: 359px;
    height: 359px;
    bottom: 20px;
}

.footer {
    display: flex;
    padding: 32px 120px 24px 120px;
    flex-direction: column;
    align-items: center;
    background: #FFF;
}

.footer .social {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
    border-top: 1px solid #EAEAEA;
}

.footer .social a {
    font-size: 24px;
    color: var(--primary-blue);
    transition: color 0.3s ease-in-out;
}

.footer .social a.instagram:hover {
    background: radial-gradient(61.46% 59.09% at 36.25% 96.55%, #FFD600 0%, #FF6930 48.44%, #FE3B36 73.44%, rgba(254, 59, 54, 0.00) 100%), radial-gradient(202.83% 136.37% at 84.5% 113.5%, #FF1B90 24.39%, #F80261 43.67%, #ED00C0 68.85%, #C500E9 77.68%, #7017FF 89.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer .social a.linkedin:hover {
    color: rgba(22, 65, 106, 1);
}

.footer .social a.github:hover {
    color: rgba(27, 27, 27, 1);
}

.footer .social a.cv:hover {
    color: rgba(202, 0, 0, 1);
}

.footer p {
    color: #949494;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.8px;
}